.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--card-background);
    padding: 1rem 2rem;
    border-radius: var(--bradius-small);
    width: fit-content;
    border: 1px solid var(--color-secondary);
}

.star input{
    display: none;
}

.star label{
    color: rgba(177, 174, 174, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
}