.card{
    display: flex;
    position: relative;
    font-family: 'Source Serif 4', sans-serif;
    color: var(--color-complementary);
    background: var(--card-background);
    margin: var(--spacing-medium);
    border-radius: var(--bradius-small);
    box-shadow: var(--card-shadow);
}

.card img{
    max-height: 20rem;
} 

.card__content *{
    margin: 2px;
}

.card-horizontal{
    max-width: 70rem;
}

.card-vertical{
    flex-direction: column;
    max-width: 20rem;
}

.card-horizontal img{
    border-radius: var(--bradius-small) 0 0 var(--bradius-small);
}

.card-vertical .card__img{
    background-color: var(--color-white);
    border-radius: var(--bradius-small) var(--bradius-small) 0 0;
}

.card-vertical img{
    max-height: 17rem;
    object-fit: contain;
}

.card__content{
    padding: var(--spacing-small) var(--spacing-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.8rem;
    position: relative;
}

.card__header{
    padding: 0;
}

.card__title{
    font-size: var(--fsize-500);
    font-weight: var(--fweight-semibold);
}

.card__subtitle{
    font-size: var(--fsize-300);
    font-weight: var(--fweight-regular);
}

.card__desc{
    font-size: var(--fsize-200);
    font-weight: var(--fweight-light);
}

.card__desc small{
    color: var(--color-secondary);
}

.card__amount > *{
    display: inline-block;
}

.strike-text{
    color: var(--color-secondary);
    font-size: var(--fsize-200);
}

.red-highlight{
    color: red;
    font-size: 1.1rem;
}

.card .component-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;
}

.card>.component-close:hover{
    color: var(--color-secondary);
}

.overlay-container{
    opacity: 0.3;
    pointer-events: none;
}

.overlay-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    padding: 0.5rem;
    letter-spacing: 1px;
    color: var(--color-white);
}

.card__badge{
    position: absolute; /* wrt to card */
    top: 1.5rem;
    width: fit-content;
    height: fit-content;
    font-size: var(--fsize-200);
    color: var(--color-complementary);
    background-color: var(--color-primary);
    padding: 5px;
}

.text-only .card__img{
    display: none;
}


 @media screen and (max-width: 680px){
     .card-horizontal{
        flex-direction: column;
    }

    .card-horizontal .card__img{
        background-color: var(--color-white);
    }

    .card-horizontal img{
        object-fit: contain;
        max-height: 20rem;
    }
 }

