.h1, .h2, .h3, .h4, .h5, .h6{
    margin: var(--spacing-small) 0;
}

.h1, h1{
    font-size: 2.25rem;
}

.h2, h2{
    font-size: 2rem;
}

.h3, h3{
    font-size: 1.75rem
}

.h4, h4{
    font-size: 1.5rem;
}

.h5, h5{
    font-size: 1.35rem;
}

.h6, h6{
    font-size: 1.15rem
}

.bold-text{
    font-weight: bold;
}

.italic-text{
    font-style: italic;
}

.strike-text{
    text-decoration: line-through;
}

.underline-text{
    text-decoration: underline;
}

.red-text{
    color: red;
}

.gray-text{
    color: var(--color-secondary);
}

.left-text{
    text-align: left;
}

.center-text{
    text-align: center;
}

.right-text{
    text-align: right;
}

.small-text{
    font-size: var(--fsize-100);
}

.highlight{
    color: var(--color-primary);
}

.large-title{
    font-size: var(--fsize-700);
    font-weight: var(--fweight-regular);
    color: var(--color-complementary);
    display: block;
    font-family: var(--ff-serif);
}

.medium-title{
    
}

@media screen and (max-width: 768px){
    .large-title{
        font-size: var(--fsize-600);
    }

    .h1, h1{
        font-size: var(--fsize-500);
    }

    .h2, h2{
        font-size: var(--fsize-400);
    }

    .h3, h3{
        font-size: var(--fsize-300);
    }

    .h4, h4, .h5, h5, .h6, h6{
        font-size: var(--fsize-200);
    }

}