.container__image{
    width: 300px;
    height: 200px;
}

.img-responsive{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-rounded{
    border-radius: 50%;
}

.img-rounded-corners{
    border-radius: 5px;
}

.img-border{
    border: 2px solid var(--primary-color);
}

.img-thick-border{
    border: 4px solid var(--primary-color);
}
